<div class="row">
  <div class="col-md-12 pad-10">
    <button type="submit" class="btn btn-primary" (click)="goToAddMatiere()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Ajout Matiere
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Libélle</th>
    <th>Coefficient</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let matiere of matieres">
    <td>{{ matiere.id_matire }}</td>
    <td>{{ matiere.libelle }}</td>
    <td>{{ matiere.coefficient }}</td>
  </tr>
  </tbody>
</table>
