<div class="form-horizontal pad-10">
  <br>
  <form #ajoutMatiereForm="ngForm">
    <div class="col-md-6 form-group">
      <label class=" control-label">Libéllé Matière</label>
      <div class="col-md-12 no-padding">
        <input name="libelle" id="libelle" #libelle="ngModel" [(ngModel)]="matieres.libelle" class="form-control" placeholder="" type="text" required />
        <div *ngIf="libelle.errors && (libelle.dirty || libelle.touched)" class="alert alert-danger">
          <div [hidden]="!libelle.errors.required">
            Libéllé est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label class=" control-label">Coefficient Matière</label>
      <div class="col-md-12 no-padding">
        <input name="coefficient" id="coefficient" #coefficient="ngModel" [(ngModel)]="matieres.coefficient" class="form-control" placeholder="" type="number" required />
        <div *ngIf="coefficient.errors && (coefficient.dirty || coefficient.touched)" class="alert alert-danger">
          <div [hidden]="!coefficient.errors.required">
            Coefficient est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="pad-10">
      <button mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes-vous sûr?'"
              placement="top"
              (confirm)="createMatiere(matieres)"
              type="submit" class="btn btn-save btn-primary" [disabled]="!ajoutMatiereForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
    </div>
  </form>
</div>
